<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.how2java.tmall.mapper.PropertyMapper" >
  <resultMap id="BaseResultMap" type="com.how2java.tmall.pojo.Property" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `property`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.how2java.tmall.pojo.Property" useGeneratedKeys="true" keyProperty="id" >
    insert into `property` (cid, name)
    values (#{cid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.how2java.tmall.pojo.Property" >
    update `property`
    set cid = #{cid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, cid, name
    from `property`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="Integer" resultMap="BaseResultMap" >
    select id, cid, name
    from `property` where cid=#{cid}
  </select>
</mapper>